@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
    --font-figtree: var(--font-figtree), "Figtree", sans-serif;
}

/* Custom font utility classes */
.font-figtree {
    font-family: var(--font-figtree);
}